{% extends "base.html" %}

{% block content %}
    <h1>Inventory Dashboard</h1>
    <button onclick="location.href='/update-stock'" type="button">Update Stock Data</button>
    
    <table>
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Current Stock</th>
            <th>Threshold</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr class="{{ 'alert' if item.needs_reorder() }}">
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.current_stock }}</td>
            <td>{{ item.reorder_threshold }}</td>
            <td>
                <a href="{{ url_for('stock_forecast', stock_id=item.id) }}">Forecast</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
