{% extends "base.html" %}

{% block content %}
    <h1>Reorder Forecast and List</h1>
    
      <!-- Display Flash Messages -->
      {% with messages = get_flashed_messages() %}
       {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    <!-- Button to Compare Market and Inventory -->
    <form method="POST" action="{{ url_for('reorder') }}">
      <button type="submit">Compare Market Availability & Inventory</button>
  </form>

    <!-- Button to clear all forecasts -->
    <form method="POST" action="{{ url_for('clear_reorder_forecasts') }}">
      <button type="submit" class="btn btn-danger">Clear All Reorder Forecasts</button>
  </form>

  

     <!-- Display Results for Reorder -->
     {% if reorder_results %}
     <h3>Reorder Recommendations</h3>
     <table>
         <thead>
             <tr>
                 <th>Item</th>
                 <th>Stock Available</th>
                 <th>Recent Market Stock</th>
                 <th>Restock Amount</th>
                 <th>Restock By</th>
                 <th>Predicted Demand</th>
             </tr>
         </thead>
         <tbody>
             {% for result in reorder_results %}
                 <tr>
                     <td>{{ result.item_name }}</td>
                     <td>{{ result.warehouse_stock }}</td>
                     <td>{{ result.market_stock }}</td>
                     <td>{{ result.restock_amount }}</td>
                     <td>{{ result.restock_by }}</td>
                     <td>{{ result.predicted_demand }}</td>
                 </tr>
             {% endfor %}
         </tbody>
     </table>
 {% else %}
     <p>No reorder recommendations yet. Please compare market availability and inventory.</p>
 {% endif %}
{% endblock %}
